name: Integration tests

on:
  pull_request:
  schedule:
  - cron: "0 15 * * SAT"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || 
    github.ref }}
  cancel-in-progress: true

jobs:
  integration-tests:
    uses: 
      canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    with:
      channel: 1.33-classic/stable
      extra-arguments: |
        --kube-config=~/.kube/config
      juju-channel: 3/stable
      load-test-enabled: false
      pre-run-script: |
        -c "chmod +x tests/integration/pre_run_script.sh
        ./tests/integration/pre_run_script.sh"
      zap-enabled: false
      trivy-fs-enabled: true
      trivy-image-config: "trivy.yaml"
      self-hosted-runner: true
      self-hosted-runner-label: "xlarge"
      tmate-timeout: 20
      use-canonical-k8s: true
      provider: 'k8s'
  allure-report:
    if: ${{ !cancelled() && github.event_name == 'schedule' }}
    needs:
    - integration-tests
    uses: canonical/operator-workflows/.github/workflows/allure_report.yaml@main
