name: Integration tests

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  integration-tests:
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    with:
      channel: 1.31-strict/stable
      extra-arguments: |
        --kube-config=${GITHUB_WORKSPACE}/kube-config
      juju-channel: 3.5/stable
      load-test-enabled: false
      pre-run-script: |
        -c "sudo microk8s config > ${GITHUB_WORKSPACE}/kube-config
        chmod +x tests/integration/pre_run_script.sh
        ./tests/integration/pre_run_script.sh"
      zap-enabled: false
      trivy-fs-enabled: true
      trivy-image-config: "trivy.yaml"
      self-hosted-runner: true
      self-hosted-runner-label: "xlarge"
      microk8s-addons: "dns ingress rbac storage registry"
      tmate-debug: true
